@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Geist:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-border: var(--color-border);
  --color-divider: var(--color-divider);
  --color-container: var(--color-border);

  --color-pinkpantheress-500: #B27476;
  --color-grape-500: #3C3A4D;

  --font-source-serif: 'Source Serif 4', serif;
  --font-alexandria: 'Alexandria', sans-serif;
  --font-geist: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;

}

:root {
  --bg-color: white;
}

[data-theme="dark"] {
  
  --color-text-primary: #f9fafb;
  --color-text-secondary: rgba(249, 250, 251, 0.7);
  --color-divider: rgba(249, 250, 251, 0.3);
  --color-border: rgba(249, 250, 251, 0.2);
  --color-container: rgba(249, 250, 251, 0.05);

  --bg-color: rgb(38, 37, 42);
  --gradient-bg: 
    radial-gradient(125% 125% at 50% 10%, rgb(31, 30, 35) 0%, rgb(29, 25, 39) 100%);

}

[data-theme="light"] {
  --color-text-primary: #313131;
  --color-text-secondary: rgba(46, 46, 46, 0.8);
  --color-divider: rgba(46, 46, 46, 0.3);
  --color-border: rgba(46, 46, 46, 0.15);
  --color-container: rgba(46, 46, 46, 0.05);

  --bg-color: #e0decd;
  --gradient-bg:
    radial-gradient(400% 425% at 50% 10%, #EDEEF2 0%, #868686 100%);
}

/*
    radial-gradient(125% 125% at 50% 10%, #727276 40%, #58524f 100%);
    backgrouradial-gradient(50% 50% at 50% 50%, #6F7085 0%, #818A93 100%), radial-gradient(82.95% 45.16% at 50% 50%, rgba(20, 20, 20, 0.60) 0%, rgba(122, 122, 122, 0.60) 100%)
*/